extends ../layouts/normal

block normal
	h1.display-4
		span= posts.name
	h1.font-weight-lighter.ml-5 Author: 
			span=posts.author
	p.blockquote.font-weight-lighter.pl-5= posts.description

	span.blockquote.font-weight-light.mt-10.ml-5= posts.content
	


